<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html" charset="UTF-8">
    <title>TIW project- HTML puro</title>
</head>


<body>
<h1 th:text="#{home.welcome}"> WELCOME</h1>
<p th:utext="#{home.description}"> Description </p>

<form name="loginform" method="post" action="/LoginHandler">
    <label th:text="#{login.user}">User</label>
    <input type="text" name="username" required/><br><br>
    <label>Password</label>
    <input type="password" name="passwd" required/><br><br>
    <input type="submit" th:value="#{login.send}" />
</form>

</body>
</html>