<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/CSS/mystile.css}"/>
</head>

<body>
<!--Welcome section-->
<h1 th:text="#{Welcome}">Welcome text</h1>
<div>
    <span th:text="#{logintext}">Entering text</span>
    <span th:text="${session.user.name}"></span>
    <span th:text="${session.user.surname}"></span>
    <p></p>
</div>

<!--Topics Section-->
<h3 th:if="${not topics.isEmpty()}"> Topics</h3>

<div th:if="${#lists.isEmpty(redTopics)}">
    <div th:replace="WEB-INF/HTMLPure/fragments/topicFragment :: topicFrame">FRAME1</div>
</div>
<div th:if="${not #lists.isEmpty(redTopics)}">
    <div th:replace="WEB-INF/HTMLPure/fragments/topicFragment :: moveFrame"> FRAME2</div>
</div>

<!-- Insert new Topic Section-->
<div th:class="formdiv" th:if="${#lists.isEmpty(redTopics)}">
    <h3>Insert new Topic</h3>
    <form th:class="formdiv" method="post" action="AddTopic">
        <table>
            <tr>
                <td>Name</td>
                <td>Top Topic</td>
            </tr>
            <tr>
                <td><input type="text" th:value="${body}" name="body" required/></td>
                <td>
                    <select name="idFather">
                        <option th:each="x : ${listId}" th:value="${x}" th:text="${x}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
    <span th:text="${errorMsg}"></span>
</div>

<!--Logout Section-->
<div th:class="logout">
    <br>
    <form th:method="post" th:action="Logout">
        <span th:text="#{logout}"> logout text</span>
        <input type="submit" value="Logout">
    </form>
</div>

</body>
</html>
