.divbox{
    text-align: center;
    background-color: darkgrey;
    border: 10px black;
}

.errorText{
    color: red;
}

.formdiv {
    width: 33%;
    display: inline;
    margin: 10px;
    padding: 10px;
}
