<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/CSS/mystile.css}"/>
</head>

<body>
<!--Welcome section-->
<h1 th:text="#{start.Welcome}">Welcome text</h1>
<div>
    <span th:text="#{start.logintext}">Entering text</span>
    <span th:text="${session.user.name}"></span>
    <span th:text="${session.user.surname}"></span>
    <p></p>
</div>

<!--Topics Section-->
<h3> Topics</h3>

<div th:if="${#lists.isEmpty(redTopics)}">
    <div th:replace="WEB-INF/templates/HTMLPure/fragments/topicFragment :: topicFrame">FRAME1</div>
</div>
<div th:if="${not #lists.isEmpty(redTopics)}">
    <div th:replace="WEB-INF/templates/HTMLPure/fragments/topicFragment :: moveFrame"> FRAME2</div>
</div>

<!-- Insert new Topic Section-->
<div>
    <h3>Insert new Topic</h3>
    <form method="post" action="AddTopic">
        <table>
            <tr>
                <td>Name</td>
                <td>Father id</td>
            </tr>
            <tr>
                <td><input type="text" th:value="${body}" name="body" required/></td>
                <td><input type="text" th:value="${id}" name="idFather" required/></td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
    <span th:text="${errorMsg}"></span>
</div>

<!--Logout Section-->
<div>
    <form method="post" action="Logout">
        <span th:text="#{final.logout}"> logout text</span>
        <input type="submit" value="Logout">
    </form>
</div>

</body>
</html>
