<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" type="text/css" media="all" th:href="@{/CSS/mystyle.css}"/></head>
<body>
<div th:fragment="topicFrame" >
  <ul>
    <li th:each="topic : ${topics}" >
      <form th:action="MoveTopic" th:method="post">
        <table>
        <tr>
            <td> <span th:text="${topic.id}">topic</span> </td>
            <td> <span th:text="${topic.name}"> topic name</span> </td>
            <td> <input th:type="hidden" th:value="${topic.id}" th:name="idToMove"></td>
            <td> <input th:type="submit" th:value="move"> </td>
          </tr>
        </table>
      </form>
      <div th:with="topics = ${topic.getSubtopics()}"
           th:include="this :: topicFrame" ></div>
    </li>
  </ul>
</div>

<div th:fragment="moveFrame">
    <ul>
        <li th:each="topic : ${topics}" >
            <table>
                <tr>
                    <div th:if="${redTopics.contains(topic.id)}">
                        <td> <span th:class="errorText" th:text="${topic.id}">topic</span> </td>
                        <td> <span th:class="errorText" th:text="${topic.name}"> topic name</span> </td>
                    </div>
                    <div th:if="${not redTopics.contains(topic.id)}">
                        <td> <span th:text="${topic.id}">topic</span> </td>
                        <td> <span th:text="${topic.name}"> topic name</span> </td>
                        <div th:if="${topic.getSubtopics().size()<9}">
                            <form th:action="MoveTopicConfirm" th:method="post">
                                <td> <input th:type="hidden" th:value="${idToMove}" th:name="idToMove"></td>
                                <td> <input th:type="hidden" th:value="${topic.id}" th:name="idWhereToMove"></td>
                                <td> <input th:type="submit" th:value="movehere"> </td>
                            </form>
                        </div>
                    </div>
                </tr>
            </table>
            <div th:with="topics = ${topic.getSubtopics()}"
                 th:include="this :: moveFrame" ></div>
        </li>
    </ul>
</div>
</body>
</html>


